

.main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;

    .card {
        margin-top: 20px;
    }
}

.navbar-collapse {
    justify-content: flex-end;
}